<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Hí Store - Baby three chính hãng</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <!-- header -->
    <%- include('header') %>

        <!-- mid -->
        <div class="container">
            <div class="breadcumb row mt-5 mb-4">
                <a href="/" class="mr-2" style="text-decoration: none; color: rgb(42, 42, 42);">Trang
                    chủ</a>
                <i class="fas fa-chevron-right mr-2"></i>
                <span class="mr-2">
                    <b>Tất cả sản phẩm</b>
                </span>
                <i class="fas fa-chevron-right mr-2"></i>
                <form action="">
                    <select name="action" style="border: none;" onchange="this.form.submit()">
                        <option value="all">Tất cả sản phẩm</option>
                        <option value="hat">Các loại mũ</option>
                        <option value="shirt">Các loại áo</option>
                        <option value="bag">Các loại túi</option>
                        <option value="bear">Các loại gấu</option>
                        <option value="up">Giá tăng dần</option>
                        <option value="down">Giá giảm dần</option>
                    </select>
                </form>
            </div>

            <div class="row">
                <% for (let i=0; i < dataTable.length; i++) {%>
                    <div class="card p-3 mb-4">
                        <div>
                            <a href="/chi-tiet-san-pham?id=<%= dataTable[i].id %>">
                                <img src="<%= dataTable[i].image %>" class="card-image">
                            </a>
                        </div>
                        <div class="mt-2">
                            <h6 class="card-title">
                                <b><a href="/chi-tiet-san-pham?id=<%= dataTable[i].id %>">
                                        <%=dataTable[i].code + " - " + dataTable[i].name%>
                                    </a></b>
                            </h6>
                        </div>
                        <div class="">
                            <p style="color: red; font-size: 17px;">
                                <% function formatPrice(price) { 
                                    return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ); 
                                } %>
                                <b>Giá: <%= formatPrice(dataTable[i].price) %></b>
                            </p>
                        </div>
                    </div>
                    <% }%>
            </div>
        </div>

        <!-- footer -->
        <%- include('footer') %>

        <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Lấy tham số từ URL
            const urlParams = new URLSearchParams(window.location.search);
            const actionValue = urlParams.get('action');

            // Tìm thẻ select
            const select = document.querySelector('select[name="action"]');

            // Đặt option đã chọn dựa trên tham số URL
            if (actionValue) {
                select.value = actionValue; // Đặt giá trị cho select
            }
        });
    </script>
</body>

</html>