<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Hí Store - Baby three chính hãng</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <!-- header -->
    <%- include('header') %>

    <!-- mid -->
    <div class="container">
        <div class="breadcumb row mt-5 mb-4">
            <a href="/" class="mr-2" style="text-decoration: none; color: rgb(42, 42, 42);">Trang chủ</a>
            <i class="fas fa-chevron-right mr-2"></i>
            <span>
                <b>Thông tin tài khoản</b>
            </span>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 p-4 rounded" style="background-color: rgb(248, 248, 248);">
                <div class="text-center mt-2 mb-4">
                    <h2 style="font-weight: 700;">Thông tin tài khoản</h2>
                    <p>Xin chào, <%= session.user ? session.user.firstName + ' ' + session.user.lastName : 'Khách' %>!</p>
                </div>

                <div>
                    <p><strong>Họ tên:</strong> <%= session.user ? session.user.firstName + ' ' + session.user.lastName : 'Chưa có thông tin' %></p>
                    <p><strong>Email:</strong> <%= session.user ? session.user.email : 'Chưa có thông tin' %></p>
                    <p><strong>Điện thoại:</strong> <%= session.user ? session.user.phoneNumber : 'Chưa có thông tin' %></p>
                    <p><strong>Đơn hàng của bạn:</strong>...</p>
                    <p><strong>Đổi mật khẩu:</strong>...</p>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <!-- footer -->
    <%- include('footer') %>
</body>
</html>